cache/*
log/*
.vagrant/*
web/uploads/*
asset_data/*
ubuntu-xenial-16.04-cloudimg-console.log
.DS_Store
plugins/.channels
plugins/.lock
plugins/.filemap
plugins/.depdblock
plugins/.depdb
plugins/.registry
config/databases.yml
config/app.yml
web/asset_data/*
apps/frontend/config/app.yml
apps/backend/config/app.yml
web/assets_frontend/images/*
zizi_responses.log
composer.lock
composer.phar
../cp_instance.session.sql
.env